@import "tailwindcss";

@font-face {
  font-family: "ArchitectsDaughter";
  src: url("/fonts/ArchitectsDaughter-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Cormorant";
  src: url("/fonts/Cormorant-Regular.ttf");
}

@theme {
  --color-lilac: #d9c7dd; /* 217 199 221 */
  --color-purple: #5a4060; /* 90 64 96 */
  --color-eggshell: #d4ab86; /* 212 171 134 */
  --color-sage: #608268; /* 96 130 104 */
  --color-offwhite: #fdfced; /* 253 252 237 */

  --font-logo: ArchitectsDaughter, "sans-serif";
  --font-sans: Montserrat, "sans-serif";
  --font-serif: Cormorant, "serif";

  /* --shadow-soft: 0 14px 24px 0 rgb(var(--color-purple) / 0.15);
  --shadow-heavy: 0 20px 25px -5px rgb(var(--color-purple) / 0.25);
  --shadow-float: 0 25px 50px -12px rgb(var(--color-purple) / 0.3);
  --shadow-edge: 8px 8px 0 0 rgb(var(--color-purple) / 0.95);
  --shadow-hover: 0 30px 60px -15px rgb(var(--color-purple) / 0.4); */
  --shadow-soft: 0 14px 24px 0 rgba(90, 64, 96, 0.15);
  --shadow-heavy: 0 20px 25px -5px rgba(90, 64, 96, 0.25);
  --shadow-float: 0 25px 50px -12px rgba(90, 64, 96, 0.3);
  --shadow-edge: 14px 14px 24px 24px rgba(90, 64, 96, 0.15);
  --shadow-hover: 0 30px 60px -15px rgba(90, 64, 96, 0.4);
}
